<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achat</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/app.js"></script>
</head>
    <body onload="reaction()">
    <div class="taskbar">
      <a class="active" href="?pseudo= {{utilisateur}}/">Principal</a>
      <a href="/magasin?pseudo= {{utilisateur}}/">Magasin</a>
      <a href="/compte?pseudo= {{utilisateur}}/">Compte</a>
      <a href="/panier?pseudo= {{utilisateur}}/">Panier</a>
      <a href="/contacter-nous?pseudo= {{utilisateur}}/">Contacter-nous</a>
    </div>
    <label for="quantity">Selectionner la quantitee</label> <br>
    <input type="number" id="quantity" name="quantity" min="1" max="99"><br>

    <div id="oneTable-container">

    </div><br>

    <button type="submit" onclick="onButtonAchat()"  value="Submit">Ajouter au Panier </button><br>
    <button type="cancel" onclick="location.href='/magasin/';" value="Cancel">Cancel </button><br>




</body>
</html>
