<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contacter-nous</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/app.js"></script>
</head>
<body>
<div class="taskbar">
  <a class="active" href="/">Principal</a>
  <a href="/magasin/">Magasin</a>
  <a href="/compte/">Compte</a>
  <a href="/panier/">Panier</a>
  <a href="/contacter-nous/">Contacter-nous</a>
</div>
<h1>Biere Sans Alcool</h1><br>
<img src="/static/typeGrain.jpg" alt="Ton type" style="width:400px;height:350px;">
<h2> Nos coordonnees</h2>
<a> BiereAwesome@gmail.com <br>
    (819) FUN BEER <br>
    1200 avenue de la biere <br>
    Qc Canada
</a>

</body>
</html>

