<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contacter-nous</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/app.js"></script>
</head>
<body>
<div class="taskbar">
  <a class="active" href="index.html">Principal</a>
  <a href="Magasin.html">Magasin</a>
  <a href="Compte.html">Compte</a>
  <a href="Panier.html">Panier</a>
  <a href="Contacter-nous.html">Contacter-nous</a>
</div>
<h1>Biere Sans Alcool</h1><br>
<img src="/static/typeGrain.jpg" alt="Ton type" style="width:400px;height:350px;">
<h2> Nos coordonnees</h2>
<a> BiereAwesome@gmail.com <br>
    (819) FUN BEER <br>
    1200 avenue de la biere <br>
    Qc Canada
</a>

</body>
</html>
