<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title onload="session()">Magasin</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="../static/app.js"></script>
</head>
<body onload="fetchTable();displayUser()">
<div class="taskbar">
      <a class="active" href="/">Principal</a>
      <a href="/magasin/">Magasin</a>
      <a href="/compte/">Compte</a>
      <a href="/panier/">Panier</a>
      <a href="/contacter-nous/">Contacter-nous</a>
    </div>
<a>Bonjour, </a>
     <div id="user-container" >
    </div>
<h1>Biere Sans Alcool</h1><br>
  <p>Selectionner un type:</p>
 <input type="radio" id="all" name="typeBeer" value="all" onclick="select_type(this.id)">
 <label for="html">Toutes</label><br>
 <input type="radio" id="lager" name="typeBeer" value="lager" onclick="select_type(this.id)">
 <label for="html">lager</label><br>
 <input type="radio" id="pale ale" name="typeBeer" value="pale ale" onclick="select_type(this.id)">
 <label for="html">pale ale</label><br>
 <input type="radio" id="IPA" name="typeBeer" value="IPA" onclick="select_type(this.id)">
 <label for="html">IPA</label><br>
 <input type="radio" id="stout" name="typeBeer" value="stout" onclick="select_type(this.id)">
 <label for="html">stout</label><br>
 <input type="radio" id="sour" name="typeBeer" value="sour" onclick="select_type(this.id)">
 <label for="html">sour</label><br>
 <input type="radio" id="Other" name="typeBeer" value="Other" onclick="select_type(this.id)">
 <label for="html">Autres</label><br>

    <div id="table-container" onclick="location.href='/Achat/';">

    </div>


</body>
</html>

