<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magasin</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script src="../static/app.js"></script>
</head>
<body>
<div class="taskbar">
  <a class="active" href="index.html">Principal</a>
  <a href="Magasin.html">Magasin</a>
  <a href="Compte.html">Compte</a>
  <a href="Panier.html">Panier</a>
  <a href="Contacter-nous.html">Contacter-nous</a>
</div>
<h1>Biere Sans Alcool</h1><br>
<form action="">
  <p>Selectionner un type:</p>
 <input type="radio" id="ALL" name="typeBeer" value="all">
 <label for="html">Toutes</label><br>
 <input type="radio" id="IPA" name="typeBeer" value="ipa">
 <label for="html">IPA</label><br>
 <input type="radio" id="blonde" name="typeBeer" value="blonde">
 <label for="css">Blonde</label><br>
 <input type="radio" id="rousse" name="typeBeer" value="rousse">
 <label for="javascript">Rousse</label><br>
 <input type="radio" id="noire" name="typeBeer" value="noire">
 <label for="javascript">Noire</label><br>
 <input type="radio" id="noire" name="typeBeer" value="autres">
 <label for="javascript">Autres</label><br>
</body>
</html>
