<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script src="../static/app.js"></script>
</head>
<body>
<div class="taskbar">
  <a class="active" href="index.html">Principal</a>
  <a href="Magasin.html">Magasin</a>
  <a href="Compte.html">Compte</a>
  <a href="Panier.html">Panier</a>
  <a href="Contacter-nous.html">Contacter-nous</a>
</div>
<h1>Biere Sans Alcool</h1><br>
<img src="/image/houblon.jpg" alt="Ton type" style="width:300px;height:300px;"><br>
<br>
<h2>Ma Commande</h2><br><br>
<button type="button" onclick="">Acheter</button>
</body>
</html>
